<%= form_for(@department_role) do |f| %>
  <% if @department_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department_role.errors.count, "error") %> prohibited this department_role from being saved:</h2>

      <ul>
      <% @department_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name,  :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :department_id %><br>
      <%= f.collection_select :department_id, Department.order(:name),:id,:name, class: 'form-control' %>

    <!-- <%= f.number_field :department_id %> -->
  </div>
  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-block btn-default' %>
  </div>
<% end %>
