<h1>Listing Department Roles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @department_roles.each do |department_role| %>
      <tr>
        <td><%= department_role.name %></td>
        <td><%= department_role.department.name %></td>
        <td><%= link_to 'Show', department_role %></td>
        <td><%= link_to 'Edit', edit_department_role_path(department_role) %></td>
        <td><%= link_to 'Destroy', department_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department role', new_department_role_path %>
