
<p>
  <strong>Name:</strong>
  <%= @department_role.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @department_role.department_id %>
</p>

<%= link_to 'Edit', edit_department_role_path(@department_role) %> |
<%= link_to 'Back', department_roles_path %>
