<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Log in</div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <fieldset>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'   %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me, :type => 'checkbox' %>
                  Remember Me
                </label>
              </div>
            <% end -%>
            <div class="form-group">
            <%= f.submit "Log in", class:'btn btn-block btn-primary' %>
            <%= render "users/shared/links" %>
          </div>
          </fieldset>
          <% end %>

      </div>

    </div>
  </div><!-- /.col-->
</div><!-- /.row -->
