<div class="row">
  <div class="col-md-12">
    <div style="float: right;margin-bottom:10px">
    <%= link_to 'new request', new_budget_path, :class => 'btn btn-primary' %>
    </div>
    <%= form_tag send_jurnal_budgets_path, method: :put do %>
    <table id="budgets" class="display responsive no-wrap">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>User</th>
          <th>status</th>
          <th>amount</th>
          <th>action</th>
        </tr>
      </thead>
      <tfoot>
         <tr>
           <th></th>
           <th>Date</th>
           <th>User</th>
           <th>status</th>
           <th>amount</th>
           <th>action</th>
         </tr>
     </tfoot>
      <tbody>
        <% @budgets.each do |budget| %>
        <% if current_user.department_id == 1 && current_user.clvl == 1 %>
          <% if budget.subtotal > 1000000 %>
            <tr>
              <td><%= check_box_tag "budget_ids[]", budget.id %></td>
              <td><%= budget.date %></td>
              <td><%= budget.user.try(:fullname) %></td>
              <!-- <td><%= budget.details %></td> -->
              <!-- <td><%= budget.cash_in %></td> -->
              <!-- <td><%= budget.cash_out %></td> -->
              <td>
                <% if budget.status == 1 %>
                <span class="label label-warning">Request</span>
                <% elsif budget.status == 2 %>
                <span class="label label-default">Revise</span>
                <% elsif budget.status == 3 %>
                <span class="label label-success">Approve By Finance</span>
                <% elsif budget.status == 6 %>
                <span class="label label-success">Approve By Head</span>
                <% elsif budget.status == 7 %>
                <span class="label label-success">Approve By CFO</span>
                <% elsif budget.status == 4  %>
                <span class="label label-info">Spend</span>
                <% elsif budget.status == 5 %>
                <span class="label label-danger">Reject</span>
                <% end %>
            </td>
            <td><%= number_to_currency(budget.subtotal, unit:"RP ") %></td>
            <td><%= link_to 'show', budget, :class => 'btn btn-success' %><%= link_to 'Edit', edit_budget_path(budget), :class => 'btn btn-default' %></td>
            </tr>
          <% end %>
        <% else %>
        <tr>
          <td><%= check_box_tag "budget_ids[]", budget.id %></td>
          <td><%= budget.date %></td>
          <td><%= budget.user.try(:fullname) %></td>
          <!-- <td><%= budget.details %></td> -->
          <!-- <td><%= budget.cash_in %></td> -->
          <!-- <td><%= budget.cash_out %></td> -->
          <td>
            <% if budget.status == 1 %>
            <span class="label label-warning">Request</span>
            <% elsif budget.status == 2 %>
            <span class="label label-default">Revise</span>
            <% elsif budget.status == 3 %>
            <span class="label label-success">Approve By Finance</span>
            <% elsif budget.status == 6 %>
            <span class="label label-success">Approve By Head</span>
            <% elsif budget.status == 7 %>
            <span class="label label-success">Approve By CFO</span>
            <% elsif budget.status == 4  %>
            <span class="label label-info">Spend</span>
            <% elsif budget.status == 5 %>
            <span class="label label-danger">Reject</span>
            <% end %>
        </td>
        <td><%= number_to_currency(budget.subtotal, unit:"RP ") %></td>
        <td><%= link_to 'show', budget, :class => 'btn btn-success' %><%= link_to 'Edit', edit_budget_path(budget), :class => 'btn btn-default' %></td>
        </tr>
            <% end %>
        <% end %>

      </tbody>
    </table>
    <%= submit_tag "send jurnal" %>
    <% end %>
</div>
</div>
