<% if current_user.department_id == 1 %>
<%= button_to "Send budget", { :controller => "budgets", :action => "fund_transfer"}, :method => :get, :class => 'btn btn-warning' %>
<% end %>
<div class="col-md-12">
<table class="table">
<thead>
  <tr>
    <th>Date</th>
    <th>id request</th>
    <th>Username</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td> <%= @budget.date %></td>
    <td>  <%= @budget.id_request %></td>
    <td>  <%= @budget.user.fullname %></td>
  </tr>
</tbody>
</table>
<% if @budget.items.where(:status => 1).blank? %>
<div class="alert bg-warning" role="alert">
					<svg class="glyph stroked flag"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-flag"></use></svg> No Product Were Approve Yet
</div>
<% else %>
<div class="alert bg-success" role="alert">
					<svg class="glyph stroked flag"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-flag"></use></svg> List of Approved Item
</div>

<table class="table">
 <tr>
   <th>Type</th>
   <th>Product name</th>
   <th>Price</th>
   <th>Quantity</th>
 </tr>
 <% @budget.items.where(:status => 1).each do | bi | %>
<tr>
  <td>   <%= bi.type_product %></td>
  <td>   <%= bi.product %></td>
  <td>   <%= bi.price %></td>
  <td>    <%= bi.quantity %></td>
</tr>
 <% end %>
  </table>
<% end %>
<table class="table">
<thead>
  <tr>
    <th>Vendor</th>
    <th>amount</th>
    <th>Cash in</th>
    <th>Cash out</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td> <%= @budget.vendor %></td>
    <td>  <%= @budget.amount %></td>
    <td>  <%= @budget.cash_in %></td>
    <td>  <%= @budget.cash_out %></td>
  </tr>
</tbody>
</table>
<table class="table">
<tr>
  <td>Balance</td>
  <td> <%= @budget.balance %></td>
</tr>
</table>
</div>
<div class="col-md-12">
  <p style="font-weight:bold">Attachment</p>
  <% @budget.proofs.each do | bp | %>
    <div class="col-md-4">
      <%= link_to(image_tag(bp.image.url(:medium)), bp.image.url(:original), :class => 'fancybox')%>
    </div>
  <% end %>
</div>
<div id="popup"></div>
<%= button_to "Send to jurnal", { :controller => "budgets", :action => "submit_jurnal"}, :method => :get, :class => 'btn btn-warning' %>
<!-- <p>
  <strong>Department role:</strong>
  <%= @budget.department_role_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @budget.details %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @budget.quantity %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @budget.vendor %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @budget.amount %>
</p>

<p>
  <strong>Cash in:</strong>
  <%= @budget.cash_in %>
</p>

<p>
  <strong>Cash out:</strong>
  <%= @budget.cash_out %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @budget.balance %>
</p> -->
<div class="col-md-12">
  <%= link_to 'Edit', edit_budget_path(@budget) %> |
  <%= link_to 'Back', budgets_path %>
  <%= link_to 'Destroy', budget_path(@budget), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<script type="text/javascript">
      $(document).ready(function() {
          $(".fancybox").fancybox();
      });
  </script>
