<div class="nested-fields">
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        Product
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.text_field :name, :placeholder => 'Name', :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.text_field :link, :placeholder => 'Link', :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.text_field :price, :placeholder => 'Price', :class => 'form-control' %>
        </div>
        <%= link_to_remove_association "x", f, :class => 'btn btn-xs btn-block btn-danger' %>
        </div>
      </div>
  </div>
</div>
