<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @procurement.user.fullname %>
</p>

<p>
  <strong>Center:</strong>
  <%= @procurement.center.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @procurement.purpose %>
</p>

<p>
  <strong>Status:</strong>
  <%= @procurement.status %>
</p>

<%= link_to 'Edit', edit_procurement_path(@procurement) %> |
<%= link_to 'Back', procurements_path %>
