<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :fullname %><br>
    <%= f.text_field :fullname, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :department %><br>
    <%= f.collection_select :department_id, Department.order(:name), :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label 'Overtime fee' %><br>
    <%= f.text_field :ot_fee, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :center_id %><br>
    <%= f.collection_select :center_id, Center.order(:name), :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :head %><br>
    <%= f.select(:head, options_for_select([['True',1],['False',0]], :selected => f.object.head), :class => 'form-control', :include_blank => true) %>
  </div>
  <div class="form-group">
    <%= f.label :manager %><br>
    <%= f.select(:manager, options_for_select([['True',1],['False',0]], :selected => f.object.manager), :class => 'form-control', :include_blank => true) %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
