<div class="row">
  <div class="col-md-12">
    <table class="table" id="users">
      <thead>
        <tr>
        <th>Fullname</th>
        <th>Center</th>
        <th>Manager</th>
        <th>Department</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td> <%= user.fullname %></td>
            <td> <%= user.get_center %></td>
            <td> <%= user.if_manager %> </td>
            <td> <%= user.get_department %> </td>
            <td> <%= link_to 'Edit', edit_user_path(user), :class => 'btn-xs btn btn-warning'  %>
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn-xs btn btn-danger' %></td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
