<%= form_for(@center) do |f| %>
  <% if @center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@center.errors.count, "error") %> prohibited this center from being saved:</h2>

      <ul>
      <% @center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :tag %><br>
    <%= f.text_field :tag, :class => 'form-control', :placeholder => 'Jurnal Tag' %>
  </div>
  <div class="form-group">
    <%= f.label :tax %><br>
    <%= f.text_field :tax, :class => 'form-control' , :placeholder => 'Jurnal Tax' %>
  </div>
  <div class="form-group">
    <%= f.label :receivable %><br>
    <%= f.text_field :receivable, :class => 'form-control', :placeholder => 'Jurnal Account Receivable' %>
  </div>

  <div class="actions">
    <%= f.submit 'create', :class => 'btn btn-default' %>
  </div>
<% end %>
