<div class="col-md-6">
<h3>Fill in your request form</h3>
<%= form_for(@budget) do |f|  %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :id_request %><br>
    <%= f.text_field :id_request, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, :class => 'form-control', :value => current_user.id  %>
  </div>
  <div class="form-group">
    <%= f.label :department_role_id %><br>
    <!-- <%= collection_select(:department_role_id, :id, DepartmentRole.where("department_id = ?", current_user.department.id), :id, :name, {:prompt => false}, class: 'form-control') %> -->
    <%= f.collection_select :department_role_id, DepartmentRole.where("department_id = ?", current_user.department.id).order(:name), :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_area :details, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :vendor %><br>
    <%= f.text_field :vendor, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :cash_in %><br>
    <%= f.text_field :cash_in , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cash_out %><br>
    <%= f.text_field :cash_out , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :balance %><br>
    <%= f.text_field :balance, :class => 'form-control'  %>
  </div>
  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-success' %>
  </div>
  <%= f.hidden_field :action, :value => '1' %>
<% end %>
</div>
