<%= form_for(@petty_cash) do |f| %>
  <% if @petty_cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@petty_cash.errors.count, "error") %> prohibited this petty_cash from being saved:</h2>

      <ul>
      <% @petty_cash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :transaction_date %><br>
    <%= f.date_select :transaction_date , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :source %><br>
    <%= f.text_field :source , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :recipient %><br>
    <%= f.text_field :recipient, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :detail %><br>
    <%= f.text_area :detail , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :p_category %><br>
    <%= f.number_field :p_category , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amount_in %><br>
    <%= f.text_field :amount_in, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amount_out %><br>
    <%= f.text_field :amount_out, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :balance %><br>
    <%= f.text_field :balance, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.number_field :status, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-default' %>
  </div>
<% end %>
