
<h1>Listing Petty Cashes</h1>

<table id='petty_cash'>
  <thead>
    <tr>
      <th>Transaction date</th>
      <th>Source</th>
      <th>Recipient</th>
      <th>Detail</th>
      <th>P category</th>
      <th>Amount in</th>
      <th>Amount out</th>
      <th>Balance</th>
      <th>Status</th>
      <th>User</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @petty_cashes.each do |petty_cash| %>
      <tr>
        <td><%= petty_cash.transaction_date %></td>
        <td><%= petty_cash.source %></td>
        <td><%= petty_cash.recipient %></td>
        <td><%= petty_cash.detail %></td>
        <td><%= petty_cash.p_category %></td>
        <td><%= petty_cash.amount_in %></td>
        <td><%= petty_cash.amount_out %></td>
        <td><%= petty_cash.balance %></td>
        <td><%= petty_cash.status %></td>
        <td><%= petty_cash.user_id %></td>
        <!-- <td><%= link_to 'Show', petty_cash %></td>
        <td><%= link_to 'Edit', edit_petty_cash_path(petty_cash) %></td>
        <td><%= link_to 'Destroy', petty_cash, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petty cash', new_petty_cash_path %>
