<div class="panel-body">
<%= form_for(@budget) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_select :date , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :id_request %><br>
    <%= f.text_field :id_request, :class => 'form-control' %>
  </div>
<!-- <% if current_user.department_id != 1 %>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id , :class => 'form-control', :value => @budget.user_id %>
  </div>
<% else %>
<div class="form-group">
  <%= f.label :user_id %><br>
  <%= f.number_field :user_id , :class => 'form-control', :value => current_user.id %>
</div>
<% end %> -->

<!-- disable department role -->
  <!-- <div class="form-group">
    <%= f.label :department_role_id %><br>
    <%= f.collection_select :department_role_id, DepartmentRole.where("department_id = ?", current_user.department.id).order(:name), :id, :name, {}, {class: "form-control"} %>
  </div> -->

  <h3>item list </h3>
  <div class="form-group">
  <table class="table table-hover">
        <thead>
        <tr>
          <th>Type</th>
          <th>Product</th>
          <th>price</th>
          <th>quantity</th>
            <% if current_user.department_id == 1 %>
              <th>status</th>
            <% end %>
        </tr>
      </thead>
      <tbody class="line_items">
      <%= f.fields_for :items do |builder| %>
          <%= render 'item_fields', f: builder %>
      <% end %>
    </tbody>
    </tbody>
  </table>
  <div class='links'>
  <%= link_to_add_association 'add item', f, :items, :data => {"association-insertion-node" => "tbody.line_items", "association-insertion-method" => "append"} ,:class => 'btn btn-success' %>
</div>
  </div>
  <!-- <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :class => 'form-control', :readonly => true  %>
  </div> -->
  <div class="form-group">
    <%= f.label :cash_in %><br>
    <%= f.text_field :cash_in, :class => 'form-control' %>
  </div>
  <% if current_user.department_id == 1 %>
  <div class="form-group">
    <%= f.label :cash_out %><br>
    <%= f.text_field :cash_out, :class => 'form-control' %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :balance %><br>
    <%= f.text_field :balance, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, [['Request','1'],['Revise','2'],['Approve','3'],['Spend','4']], :class => 'form-control', :selected => 1,  :disabled =>[ 2, 3 ,4 ] %>
  </div>

  <div class="actions">
    <%= f.submit 'submit' , :class => 'btn btn-block btn-primary' %>
  </div>
<% end %>
</div>
</div>
