<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :center, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
        <%= f.collection_select :center, Center.order(:name) ,:tag,:name,{ :prompt => true}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:center) %>
  </div>
  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-block btn-default'%>
  </div>
<% end %>
