<div class="row">
  <div class="col-md-12">
    <h1>New Invoice</h1>
    <p>Company Invoice Generator</p>
    <hr>
    <%= form_for @search, html: {class: "pure-form col-md-6"} do |f| %>
      <div class="form-group">
        <%= f.label :company %>
        <%= f.select(:company, options_for_select(@companies),{ :include_blank => true},{:class => 'company_select'}) %>
      </div>

      <div class="form-group">
        <%= f.label 'Date' %>
        <%= f.date_field :sdate, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tax %>
        <%= f.select(:tax, [['Active', true], ['Inactive', false]], { :include_blank => true}) %>
      </div>

      <div class="actions">
        <%= f.submit "Generate", :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $(".company_select").select2({
    placeholder:'Select person'
  });
});
</script>
