<%= render "layouts/datatable" %>
<div class="row">
    <div class="col-md-12">
      <table class="table">
        <tbody><tr>
            <td>Minimum:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody></table>
<table id="search" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>id</th>
      <th>Invoice</th>
      <th>Company</th>
      <th>jurnal</th>
      <th>paid</th>
      <th>Start date</th>
      <th>End date</th>
      <th>center</th>
      <th>total</th>
      <% if current_user.department_id == 1 %>
      <th>Item</th>
      <% end %>
      <th>action</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
  <tbody>
    <% @searches.each do |search| %>
      <% if current_user.department_id == 1 %>
        <tr>
          <td><%= link_to search.id , search_path(search) %></td>
          <td><%= search.try(:inv) %> </td>
          <td><%= search.company %></td>
          <% if search.status == true %>
          <td><span class="label label-success">Processed</span></td>
          <% else %>
          <td><span class="label label-warning">Unprocess</span></td>
          <% end %>
          <% if search.paid == true %>
          <td><span class="label label-success">Paid</span></td>
          <% else %>
          <td><span class="label label-warning">Unpaid</span></td>
          <% end %>
          <td><%= search.sdate %></td>
          <td><%= search.edate %></td>
          <td><%= search.search_suborders.pluck(:center).first %></td>
          <td> <%= number_to_currency(search.transaction_total ,precision: 0,unit: "RP ") %></td>
          <td>
                <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#<%= search.id %>" aria-expanded="false" aria-controls="collapseExample">
                  item lists
                </button>
              <div class="collapse" id="<%= search.id %>">
                  <% search.search_suborders.each do |item| %>
                  <ul>
                    <li> <%= item.product_name %> </li>
                  </ul>
                  <% end %>
              </div>
          </td>
          <td>
            <%= link_to 'Edit', edit_search_path(search), :class => 'btn btn-xs btn-warning' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                    search_path(search),
                                    :method => :delete,
                                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                    :class => 'btn btn-xs btn-danger' %></td>
        </tr>
      <% elsif search.search_suborders.pluck(:center).first.to_s.include?(current_user.center.name) %>
        <tr>
          <td><%= link_to search.id , search_path(search) %></td>
          <td><%= search.try(:inv) %> </td>
          <td><%= search.company %></td>
          <% if search.status == true %>
          <td><span class="label label-success">Processed</span></td>
          <% else %>
          <td><span class="label label-warning">Unprocess</span></td>
          <% end %>
          <% if search.paid == true %>
          <td><span class="label label-success">Paid</span></td>
          <% else %>
          <td><span class="label label-warning">Unpaid</span></td>
          <% end %>
          <td><%= search.sdate %></td>
          <td><%= search.edate %></td>
          <td><%= search.search_suborders.pluck(:center).first %></td>
          <td><%= number_to_currency(search.transaction_total ,precision: 0,unit: "RP ") %></td>
          <td><%= link_to 'Edit', edit_search_path(search), :class => 'btn btn-xs btn-warning' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
<script type="text/javascript">
$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFini = document.getElementById('min').value;
        var iFfin = document.getElementById('max').value;
        var iStartDateCol = 4 ;
        var iEndDateCol = 4;

        iFini=iFini.substring(0,4) + iFini.substring(5,7)+ iFini.substring(8,10);
        iFfin=iFfin.substring(0,4) + iFfin.substring(5,7)+ iFfin.substring(8,10);

        var datofini=aData[iStartDateCol].substring(0,4) + aData[iStartDateCol].substring(5,7)+ aData[iStartDateCol].substring(8,10);
        var datoffin=aData[iEndDateCol].substring(0,4) + aData[iEndDateCol].substring(5,7)+ aData[iEndDateCol].substring(8,10);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;
    }
);
$(document).ready(function() {
  var table = $('#search').DataTable({
    "order": [[ 0, "desc" ]],
    dom: 'Bfrtip',
     buttons: [
          'csv', 'pdf'
     ]
    });
  $('#min').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table.draw();
});;
  $('#max').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table.draw();
});
  } );
</script>
