<%= link_to "Send report", { :controller => "searches", :action => "send_report"}, :method => :get, :class => 'btn btn-success' %>
<% if current_user.department_id == 1 %>
  <%= link_to "Send Payment Receipt", { :controller => "payment_receipt", :action => "send_payment"}, :method => :get, :class => 'btn btn-info' %>
<% end %>
<p>
<% if @search.status.nil? %>
<%= button_to "Send to jurnal", { :controller => "searches", :action => "send_jurnal"}, :method => :get, :class => 'btn btn-warning' %>
<% end %>
<% if @search.search_suborders.empty? %>
<div class="alert alert-warning">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong>not found
</div>
<% else %>
<h1 style="margin:0px">Invoice</h1>
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6" style="text-align:right">
  <p><b>PT EVI ASIA TENGGARA</b>
  <br>
  <br>
  The Maja Lantai 1
  <br>
  Jl. Kyai Maja No. 39, Jakarta Selatan
  <br>
  12120
  <br>
  <br>
  The Breeze, Unit #L 69-70
  <br>
  Jl. Grand Boulevard, BSD Green Office Park, BSD City, Tangerang 15345
  <br>
  finance-accounting@evhive.co
  <br>
  NPWP : 73.062.675.1-031.000
  </p>
  </div>
</div>
<div class="row" style="padding:1%">
  <div class="col-md-4">
    <p><%= @search.company %></p>
    <p><%= @email %></p>
    <br>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4" style="text-align:right">
    <p><b>Month :</b> <%= @search.sdate.strftime("%B") %></p>
    <p><b>Date :</b> <%= @search.sdate %> </p>
    <p><b>Due Date :</b> <%= @search.sdate + 5.days %> </p>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <br>
<table class="table" style="text-align:right">
  <tr>
    <td><b>QTY</b></td>
    <td><b>DESCRIPTION</b></td>
    <td><b>DISCOUNT</b></td>
    <td><b>UNIT PRICE (Rp.)</b></td>
    <td><b>AMOUNT (Rp.)</b></td>
  </tr>
<% @gg.each  do |value| %>
  <tr>
  <td><%= value[:quantity] %> </td>
  <td><%= value[:product_name] %></td>
  <td><%= value[:discount] %></td>
  <td> <%= number_to_currency(value[:rate], precision: 0,unit: "" ) %></td>
  <td><%= number_to_currency( value[:quantity] * (value[:rate] - ( value[:discount] * value[:rate] / 100 )), precision: 0,unit: "" ) %></td>
  </tr>
<% end %>
<tr>
<td></td><td></td><td>
</td><td>SUBTOTAL</td><td><%= number_to_currency(@subtotal_value, precision: 0,unit: "" ) %></td>
</tr>
<tr>
  <td></td><td></td><td>
  <td>Discount Per Item</td><td><%= number_to_currency(@discount_value, precision: 0,unit: "") %></td>
</tr>
<% if @search.tax == true %>
<!-- # if (@search.company == "PT Glints Indonesia Group") || (@search.company == "PT WAHANA INSPIRASI BINTANG") || (@search.company == "PT Ninety Nine Dotco") || (@search.company == "PT FAIMS Media Indonesia") || (@search.company == "PT Kuliner Digital Sejahtera") || (@search.company == "PT Karsa Lintas Buwana") || (@search.company == "PT. Prisma Purelindo") %> -->
<tr>
  <td></td><td></td><td>
  <td>TOTAL</td><td><%= number_to_currency(@subtotal_value ,precision: 0,unit: "") %></td>
</tr>
<tr>
  <td></td><td></td><td>
  <td>Witholding Value 10%</td><td><%= number_to_currency((@subtotal_value - @discount_value) * 10/100 ,precision: 0,unit: "") %></td>
</tr>
<tr>
  <td></td><td></td><td><td><b>Balance Due</b></td><td><%= number_to_currency(@total_value,precision: 0,unit: "") %></td>
</tr>
<% else %>
<tr>
  <td></td><td></td><td>
  <td>TOTAL</td><td><%= number_to_currency(@total_value,precision: 0,unit: "") %></td>
</tr>
<% end %>
</table>
</div>
</div>
<div class="row" style="padding:2%">
  <div class="col-xs-6" style="background-color:#ececec;padding:2%">
    <b>Payment Detail</b>
    <table style="width:100%">
      <tr>
        <td>Bank Name :</td><td>BCA</td>
      </tr>
      <tr>
        <td>Bank Branch :</td><td>KCU WISMA ASIA</td>
      </tr>
      <tr>
        <td>Bank/Swift Code : </td> <td>cenaidja</td>
      </tr>
      <tr>
        <td>Account Name : </td><td>PT EVI ASIA TENGGARA</td>
      </tr>
      <tr>
        <td>Account Number : </td><td>0840799077</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6" style="padding:2%">
    <b>Notes</b>
    <p><%= @search.note %></p>
  </div>
</div>

<% end %>
