<div class="col-md-6">


<%= form_for(@budget) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="form-group">
    <%= f.label :id_request %><br>
    <%= collection_select(:budget, :id, Budget.where("action = 1"), :id, :id_request, {:prompt => false}, class: 'form-control') %>
    <%= f.hidden_field :id_request %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :department_role_id %><br>
    <%= f.number_field :department_role_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_area :details, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vendor %><br>
    <%= f.text_field :vendor, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cash_in %><br>
    <%= f.text_field :cash_in, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cash_out %><br>
    <%= f.text_field :cash_out, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :balance %><br>
    <%= f.text_field :balance, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<script type="text/javascript">
$('#budget_id').change(function() {
var budgets_url = "/budgets/" + $(this).val() +'.json';
$.ajax({
  url: budgets_url,
  success: function(data) {
    $("#budget_details").val(data.details);
    $("#budget_quantity").val(data.quantity);
    $("#budget_vendor").val(data.vendor);
    $("#budget_id_request").val(data.id_request);
    $("#budget_amount").val(data.amount);
    $("#budget_cash_in").val(data.cash_in);
    $("#budget_cash_out").val(data.cash_out);
    $("#budget_balance").val(data.balance);
  }
});
});
$('#budget_cash_out').change(function(){
  var cout = $('#budget_cash_out').val();
  var amt = $('#budget_amount').val();

  if(amt > cout){
    var fin = amt - cout;
    $('#budget_balance').val(fin);
  }
});
</script>
