<%= form_for @suborder, :html => { :class => "form-horizontal suborder" } do |f| %>

  <% if @suborder.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@suborder.errors.count, "error") %> prohibited this suborder from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @suborder.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
      <%= f.date_field :start_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:start_date) %>
  </div>
  <div class="form-group">
    <%= f.label :total, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
      <%= f.text_field :total, :class => 'form-control', :placeholder => 'Total amount of money' %>
    </div>
    <%=f.error_span(:total) %>
  </div>
  <div class="x">

  </div>
  <div class="form-group">
    <%= f.label 'quantity', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
      <%= f.text_field :day, :class => 'form-control' %>
    </div>
    <%=f.error_span(:day) %>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2">Type</label>
    <div class="col-lg-4 col-xs-12">
      <label><input type="radio" name="optradio" value="1"> Company</label>
      <label><input type="radio" name="optradio" value="2"> Personal</label>
    </div>
  </div>
  <div class="form-group" id="compblock">
    <%= f.label 'Company', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12" id="x">

    </div>
    <%=f.error_span(:company) %>
  </div>
  <div class="form-group">
    <%= f.label :product_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
      <%= f.collection_select :product_name, Product.where('center_id = ?',current_user.center_id) ,:jurnal_name,:name,{:prompt => true},{:class => 'form-control'} %>
    </div>
    <%=f.error_span(:product_name) %>
  </div>

  <div class="form-group" id="emblock">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group" id="emblock">
    <%= f.label :discount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
      <%= f.text_field :discount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:discount) %>
  </div>
  <div class="form-group">
    <%= f.label :center, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col-xs-12">
      <%= f.collection_select :center, Center.order(:name) ,:tag,:name,{ :prompt => true}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:center) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                suborders_path, :class => 'btn btn-default' %>
    </div>
  </div>
  <script>
  var radios = document.querySelectorAll('input[type=radio][name="optradio"]');

  function changeHandler(event) {
   if ( this.value === '1' ) {
     $('#x').empty()
     $('#x').append("<%= escape_javascript(f.select(:company, options_for_select(Company.all.map{ |comp| comp.name }),{ :include_blank => true},{:class => 'company_select form-control'})) %>");
     $('#emblock').hide();
   } else if ( this.value === '2' ) {
     $('#x').empty()
     $('#x').append("<%= escape_javascript(f.text_field :company, :class => 'form-control', :placeholder => 'Fullname') %>");
     $('#emblock').show();

   }
  }

  Array.prototype.forEach.call(radios, function(radio) {
     radio.addEventListener('change', changeHandler);
  });
  $(document).ready(function() {
    $(".company_select").select2({
      placeholder:'Select person'
    });
  });
  </script>
<% end %>
