<%= render "layouts/datatable" %>
<%- model_class = Suborder -%>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tbody><tr>
          <td>Minimum:</td>
          <td><input type="text" id="min" name="min"></td>
      </tr>
      <tr>
          <td>Maximum:</td>
          <td><input type="text" id="max" name="max"></td>
      </tr>
  </tbody></table>
    <table class="display responsive no-wrap" id="suborders">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:start_date) %></th>
          <th><%= model_class.human_attribute_name(:end_date) %></th>
          <th><%= model_class.human_attribute_name(:total) %></th>
          <th>Quantity</th>
          <th><%= model_class.human_attribute_name(:company) %></th>
          <th>Email</th>
          <th><%= model_class.human_attribute_name(:product_name) %></th>
          <th><%= model_class.human_attribute_name(:center) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @suborders.each do |suborder| %>
          <tr>
            <td><%= link_to suborder.id, suborder_path(suborder) %></td>
            <td><%= suborder.start_date %></td>
            <td><%= suborder.end_date %></td>
            <td><%= suborder.total %></td>
            <td><%= suborder.day %></td>
            <td><%= suborder.company %></td>
            <td><%= suborder.email %></td>
            <td><%= suborder.product_name %></td>
            <td><%= suborder.center %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_suborder_path(suborder), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          suborder_path(suborder),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_suborder_path,
                :class => 'btn btn-primary' %>
  </div>
</div>
<script type="text/javascript">
$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFini = document.getElementById('min').value;
        var iFfin = document.getElementById('max').value;
        var iStartDateCol = 1 ;
        var iEndDateCol = 1;

        iFini=iFini.substring(0,4) + iFini.substring(5,7)+ iFini.substring(8,10);
        iFfin=iFfin.substring(0,4) + iFfin.substring(5,7)+ iFfin.substring(8,10);

        var datofini=aData[iStartDateCol].substring(0,4) + aData[iStartDateCol].substring(5,7)+ aData[iStartDateCol].substring(8,10);
        var datoffin=aData[iEndDateCol].substring(0,4) + aData[iEndDateCol].substring(5,7)+ aData[iEndDateCol].substring(8,10);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;
    }
);
$(document).ready(function() {
  var table = $('#suborders').DataTable({
    "order": [[ 0, "desc" ]],
    dom: 'Bfrtip',
     buttons: [
          'csv', 'pdf'
     ]
    });
  $('#min').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table.draw();
});;
  $('#max').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table.draw();
});
  } );
</script>
