<%= form_for(@overtime) do |f| %>
  <% if @overtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@overtime.errors.count, "error") %> prohibited this overtime from being saved:</h2>

      <ul>
      <% @overtime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.text_field :date, :id => 'min', :class => 'form-control datetimepicker' %>
  </div>

  <div class="form-group">
    <%= f.label :end %><br>
    <%= f.text_field :end, :id => 'max', :class => 'form-control datetimepicker' %>
  </div>
  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div> -->
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_field :note, :class => 'form-control' %>
  </div>
  <% if current_user.department_id == 5 %>
  <div class="form-group">
    <%= f.label :status %><br>
    <td><%= f.select :status, [['Request','1'],['Approve','2'],['Reject','3']], :class => 'form-control', :include_blank => true %></td>

    <!-- <%= f.select(:status, options_for_select(['Request','Approve','Reject'], :selected => f.object.status), {:class => 'form-control'}) %> -->
    <!-- <%= f.text_field :status, :editatble => false %> -->
  </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :center_id %><br>
    <%= f.collection_select :center_id, Center.all.order(:name), :id, :name, {}, {class: "form-control"} %>
    <%= f.number_field :center_id %>
  </div> -->
    <%= f.submit 'Submit', :class => 'btn btn-block btn-success'  %>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('#min').datetimepicker({
    format: 'YYYY-MM-DD HH:mm'
    });
    $('#max').datetimepicker({
      format: 'YYYY-MM-DD HH:mm'
      });
  });
</script>
