<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
<style media="screen">
  .dt-button{
    padding: 0.5%;
    margin-left: 0.5%;
    border: 1px solid #30a5ff;
  }
</style>
<div class="row">
    <div class="col-md-12">
<%= link_to 'New Overtime', new_overtime_path, :class => 'btn btn-success' %>
<p id="notice"><%= notice %></p>
<h3>Overtimes</h3>
<table class="table">
  <tbody><tr>
      <td>Minimum:</td>
      <td><input type="text" id="min" name="min"></td>
  </tr>
  <tr>
      <td>Maximum:</td>
      <td><input type="text" id="max" name="max"></td>
  </tr>
</tbody></table>
<table class="table" id="overtime">
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Note</th>
      <th>Status</th>
      <th>Center</th>
      <th>amount</th>
      <th>duration</th>
      <th>action</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @overtimes.each do |overtime| %>
      <tr>
        <td><%= overtime.date.try(:strftime,'%Y-%m-%d') %></td>
        <td><%= overtime.user.fullname %></td>
        <td><%= overtime.try(:note) %></td>
        <td>
          <% if overtime.status == "1" %>
          <span class="label label-warning">Request</span>
          <% elsif overtime.status == "2" %>
          <span class="label label-success">Approve</span>
          <% elsif overtime.status == "3" %>
          <span class="label label-danger">Reject</span>
          <% end %>
        </td>
        <td><%= overtime.center.name %></td>
        <td><%= (overtime.end  - overtime.date)/3600 * overtime.user.ot_fee %></td>
        <td><%= (overtime.end  - overtime.date)/3600 %></td>
        <!-- <td><%= link_to 'Show', overtime %></td> -->
        <td><%= link_to 'Edit', edit_overtime_path(overtime) %></td>
        <!-- <td><%= link_to 'Destroy', overtime, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<script type="text/javascript">
$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFini = document.getElementById('min').value;
        var iFfin = document.getElementById('max').value;
        var iStartDateCol = 0;
        var iEndDateCol = 0;

        iFini=iFini.substring(0,4) + iFini.substring(5,7)+ iFini.substring(8,10);
        iFfin=iFfin.substring(0,4) + iFfin.substring(5,7)+ iFfin.substring(8,10);

        var datofini=aData[iStartDateCol].substring(0,4) + aData[iStartDateCol].substring(5,7)+ aData[iStartDateCol].substring(8,10);
        var datoffin=aData[iEndDateCol].substring(0,4) + aData[iEndDateCol].substring(5,7)+ aData[iEndDateCol].substring(8,10);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;
    }
);
$(document).ready(function() {
  $('#min').datetimepicker({
    format: 'YYYY-MM-DD'
    });
  $('#max').datetimepicker({
    format: 'YYYY-MM-DD'
    });

  var table = $('#overtime').DataTable({
    order: [[ 0, "desc" ]],
    dom: 'Bfrtip',
     buttons: [
          'csv', 'pdf'
     ]
    });
    // Add event listeners to the two range filtering inputs
  $('#min').keyup( function() { table.draw(); } );
  $('#max').keyup( function() { table.draw(); } );
  } );
</script>
