<%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= wicked_pdf_stylesheet_link_tag('bootstrap') %>
<div class="row">
  <div class="col-xs-6" style="padding-top:6%">
    <%= wicked_pdf_image_tag("/img/evhive.png") %>
  </div>
  <div class="col-xs-6" style="text-align:right">
  <p><b>PT EVI ASIA TENGGARA</b>
  <br>
  <br>
  The Maja Lantai 1
  <br>
  Jl. Kyai Maja No. 39, Jakarta Selatan
  <br>
  12120
  <br>
  <br>
  The Breeze, Unit #L 69-70
  <br>
  Jl. Grand Boulevard, BSD Green Office Park, BSD City, Tangerang 15345
  <br>
  finance-accounting@evhive.co
  <br>
  NPWP : 73.062.675.1-031.000
  </p>
  </div>
</div>
<div class="row" style="padding:1%">
  <h1 class="text-center">Cash Receipt</h1>
  <table class="table">
    <tr>
      <td>Receive From:</td><td><%= @search.company %></td>
    </tr>
    <tr>
      <td>Cash Amount:</td><td><%= @total_value.humanize.capitalize %> Rupiah</td>
    </tr>
    <tr>
      <td>Payment For:</td><td>Invoice #<%= @search.inv %></td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>Amount</td><td><%= number_to_currency(@total_value,precision: 0,unit: "RP ") %></td>
    </tr>
  </table>
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4" style="text-align:center">
    <p><%= Date.today.strftime("%d %B %Y") %></p>
    <p><b>PT EVI ASIA TENGGARA</b></p>
    <p><%= wicked_pdf_image_tag("/img/sign.png") %></p>
    <p>Alika Rahmayanti</p>
    <p>Finance Manager</p>
  </div>
</div>
