<div class="row">
  <div class="panel-heading">
    Month on month revenue without discount
  </div>
  <div class="panel-body">
    <%= column_chart Suborder.group_by_month(:created_at, format: "%b").group(:center).sum(:total) %>
  </div>
</div>
<div class="row">
  <div class="panel-heading">
    The Maja
  </div>
  <div class="panel-body">
  <%= pie_chart Suborder.where('center = ?  and created_at between ? and ?', 'EV Hive The Maja',Date.today.beginning_of_month, Date.today.end_of_month).group(:company).sum(:total) %>
  </div>
  <div class="panel-body">
  <%= pie_chart Suborder.where('center = ?  and created_at between ? and ?', 'EV Hive The Maja',Date.today.beginning_of_month, Date.today.end_of_month).group(:product_name).count(:product_name) %>
  </div>
</div>
<div class="row">
  <div class="panel-heading">
    The Breeze
  </div>
  <div class="panel-body">
  <%= pie_chart Suborder.where('center = ?  and created_at between ? and ?', 'EV Hive The Breeze',Date.today.beginning_of_month, Date.today.end_of_month).group(:company).sum(:total) %>
  </div>
  <div class="panel-body">
  <%= pie_chart Suborder.where('center = ?  and created_at between ? and ?', 'EV Hive The Breeze',Date.today.beginning_of_month, Date.today.end_of_month).group(:product_name).count(:product_name) %>
  </div>
</div>
