<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @performance.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @performance.description %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @performance.eta %>
</p>

<p>
  <strong>Start:</strong>
  <%= @performance.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @performance.end %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
