<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span>EV</span>Hive</a>
      <ul class="user-menu">
        <li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <%= current_user.fullname %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li> <%= link_to edit_user_registration_path do %> <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile<% end %></li>
            <!-- <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li> -->
            <li><%= link_to destroy_user_session_path do %><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout<% end %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <ul class="nav menu">
    <li class="parent">
      <%= link_to budgets_path do %>
        <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-chevron-down"></use></svg></span> Budget
      <% end %>
      <ul class="children collapse in" id="sub-item-1">
        <li>
          <%= link_to budgets_request_index_path do %>
            <svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Request
          <% end %>
        </li>
        <li>
          <%= link_to budgets_revise_index_path do %>
            <svg class="glyph stroked clock"><use xlink:href="#stroked-clock"/></svg>Revise
          <% end %>
        </li>
        <li>
          <%= link_to budgets_approve_index_path do %>
            <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"/></svg>Approve
          <% end %>
        </li>
        <li>
          <%= link_to budgets_spend_index_path do %>
              <svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>Spend
          <% end %>
        </li>
      </ul>
    </li>
    <!-- <li><a href="/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li> -->
     <li><a href="/petty_cashes"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Petty cash</a></li>
     <li class="parent">
       <%= link_to overtimes_path do %>
         <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked clock"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-chevron-down"></use></svg></span> Overtimes
       <% end %>
       <ul class="children collapse in" id="sub-item-1">
         <li>
           <%= link_to overtimes_request_index_path do %>
             <svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Request
           <% end %>
         </li>
         <li>
           <%= link_to overtimes_reject_index_path do %>
             <svg class="glyph stroked clock"><use xlink:href="#stroked-clock"/></svg>Reject
           <% end %>
         </li>
         <li>
           <%= link_to overtimes_approve_index_path do %>
             <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"/></svg>Approve
           <% end %>
         </li>
       </ul>
     </li>
     <!-- <li><a href="/overtimes"><svg class="glyph stroked clock"><use xlink:href="#stroked-clock"/></svg> Overtimes</a></li> -->
     <li class="parent">
       <%= link_to procurements_path do %>
         <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg></span> Procurement
       <% end %>
     </li>
<% if current_user.department_id == 1 || current_user.department_id == 3 %>
    <li class="parent">
      <%= link_to searches_path do %>
        <span data-toggle="collapse" href="#sub-item-3"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>
</span> Invoices
      <% end %>
      <ul class="children collapse in" id="sub-item-3">
        <li>
          <%= link_to searches_path do %>
          <svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg>List
          <% end %>
        </li>
        <li>
          <%= link_to new_search_path do %>
          <svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Generate
          <% end %>
        </li>
        <li>
          <%= link_to statistic_index_path do %>
          <svg class="glyph stroked line-graph"><use xlink:href="#stroked-table"/></svg>Statistic
          <% end %>
        </li>
        <li><a href="/suborders/new">+ invoice item</a></li>
        <li>
          <%= link_to suborders_path do %>
          <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>Invoice item list
          <% end %>
        </li>
      </ul>
    </li>

    <li class="parent">
      <%= link_to departments_path do %>
        <span data-toggle="collapse" href="#sub-item-2"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
</span> Department
      <% end %>
      <ul class="children collapse in" id="sub-item-2">
        <li>
          <%= link_to departments_path do %>
            <svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Department
          <% end %>
        </li>
        <li>
          <%= link_to department_roles_path do %>
            <svg class="glyph stroked clock"><use xlink:href="#stroked-clock"/></svg>Departmen Roles
          <% end %>
        </li>
      </ul>
    </li>

    <li><%= link_to centers_path do %><svg class="glyph stroked desktop"><use xlink:href="#stroked-desktop"/></svg> Centers <% end %></li>
    <li><%= link_to companies_path do %><svg class="glyph stroked home"><use xlink:href="#stroked-home"/></svg>Company <% end %></li>
    <li><%= link_to users_path do %><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg>User <% end %></li>


<% end %>
  </ul>

</div><!--/.sidebar-->
