<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EVHIVE Mware | welcome</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>

<link href="/assets/lumino/css/datepicker3.css" rel="stylesheet">
<link href="/assets/lumino/css/styles.css" rel="stylesheet">
<!--Icons-->
<script src="/assets/lumino/js/lumino.glyphs.js"></script>
<!-- <script src="/assets/lumino/js/bootstrap.min.js"></script>
<script src="/assets/lumino/js/chart.min.js"></script>
<script src="/assets/lumino/js/chart-data.js"></script>
<script src="/assets/lumino/js/easypiechart.js"></script>
<script src="/assets/lumino/js/easypiechart-data.js"></script>
<script src="/assets/lumino/js/bootstrap-datepicker.js"></script> -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<!-- err message -->
	<% if notice %>
	<div class="container">
		<div class="alert alert-warning">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Warning! </strong><%= notice %>
		</div>
	</div>
	 <% end %>
	 <% if alert %>
	 <div class="container">
		<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Warning! </strong><%= alert %>
		</div>
	</div>
	 <% end %>

	 <div class="row">
		   <%= yield %>
	 </div>

</body>
<script type="text/javascript">
$(".alert").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert").alert('close');
});
</script>
</html>
