<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to EV mware</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<link href="/assets/lumino/css/datepicker3.css" rel="stylesheet">
<link href="/assets/lumino/css/styles.css" rel="stylesheet">

<!--Icons-->
<script src="/assets/lumino/js/lumino.glyphs.js"></script>

<!-- <script src="/assets/lumino/js/bootstrap.min.js"></script>
<script src="/assets/lumino/js/chart.min.js"></script>
<script src="/assets/lumino/js/chart-data.js"></script>
<script src="/assets/lumino/js/easypiechart.js"></script>
<script src="/assets/lumino/js/easypiechart-data.js"></script>
<script src="/assets/lumino/js/bootstrap-datepicker.js"></script> -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
<%= render "layouts/sidebar" %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li class="active">Icons</li>
    </ol>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <!-- <div class="panel-heading">Site Traffic Overview</div> -->
        <div class="panel-body">
          <% if notice %>
            <div class="alert alert-warning">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Warning! </strong><%= notice %>
            </div>
           <% end %>
           <% if alert %>
            <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Warning! </strong><%= alert %>
            </div>
           <% end %>
           <%= yield %>
        </div>
      </div>

    </div>
  </div><!--/.row-->



</div>	<!--/.main-->
</body>
</html>
