<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Edit <%= resource_name.to_s.humanize %></div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <fieldset>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail' %>
              </div>
              <div class="form-group">
                <%= f.text_field :fullname, autofocus: true, class: 'form-control', placeholder: 'Full name' %>
              </div>
            <div class="form-group">
              <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'   %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control', autocomplete: "off" %>
            </div>
            <div class="form-group">
              <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Password Confirmation', class: 'form-control' %>
            </div>
            <div class="form-group">
              Department
              <%= f.collection_select :department_id, Department.order(:name),:id,:name, :class => 'form-control' %>
            </div>
            <div class="form-group">
            <%= f.submit "Update", class:'btn btn-block btn-success' %>
          </div>
          </fieldset>
          <% end %>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  class:'btn btn-block btn-default' %></p>
          <%= link_to "Back", :back %>
      </div>

    </div>
  </div><!-- /.col-->
</div><!-- /.row -->
